/*  */


:root {
 --action-color: #5f2fe7; /* purple color*/
 --shad-color:#5f2fe740; /* color for buttons shadow*/
 --shad-color-hover:#4000a740; /* color for buttons shadow on hover*/
 --bttn-color-hover:#6c3feb; /* purple color for buttons on hover*/
 --scroll-color: #63696d; /* grey color for scrolling line*/
 --padding-edge: 20px; /* size of padding */
 --light-color:#f7f4fe; /* light purple color */
 --dark-color:#4b25b7; /* dark purple for active buttons */
 --active-color:#886fe9; /* purple color for active links*/
 --text-color:#252525; /* all common text color */
 --text-color-light: #25252580; /* semi-transparent text color */
 --ref-white-color:#ffffff80; /* semi-tranparent white color */
}

body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Nunito', sans-serif;
	line-height: 20px;
	font-size: 16px;
	color: var(--text-color);

}

p, .data-item, td {
	margin: 0;
	line-height: 20px;
	font-size: 16px;
	font-weight: 400;
}


/* Preloader */

.preloader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background: #ffffff80;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1101;
}

.preloader-img {
	position: relative;
	width: 50px;
	height: 50px;
}

.preloader__hiding{
	transition: 0.3s opacity;
	opacity: 0;
}

.preloader__showing{
	transition: 0.3s opacity;
	opacity: 1;
}

.preloader__hide {
	display: none;
}

/*Links*/

a {
	text-decoration: none;
}

.ref-white {  /* white link on dark background*/
	color: #ffffff80;
}

.ref-white:hover {
	color: #ffffffcc;
}

.ref-color { /* purple link on white background*/
	color: var(--active-color);
}

.ref-color:hover {
	color: var(--action-color);
}

/* Headings*/

h1, h2, h3, h4, h5{ 
	font-weight: 600; 
	color: var(--action-color);
	line-height: 1.1;
}

h1{
	font-size: 2rem;
	margin-bottom: 0.5rem;
    padding-top: 0.8rem;
}

h3 {
	font-size: 1.2rem;
}

h4 {
	font-size: 1.1rem;
	margin-bottom: 0.2rem;
}
h5 {
	color: var(--text-color);
	font-size: 1em;
	margin-bottom: 0;
}

/* Buttons */
.bttn, button.dt-button, div.dtsb-searchBuilder button.dtsb-button { /* common styles for buttons = buttons with outline*/
	height: 31px;
	border-radius: 6px;
	background-color: #fff;
	border: 2px solid var(--action-color);
	color: var(--action-color);
	white-space: nowrap;
	margin-left: 15px;
	padding: 0.2rem 0.8rem;
	box-shadow: 1px 1px 4px 0px #431bb770;
	transition: all ease-in 100ms;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px
}

button.dt-button, div.dtsb-searchBuilder button.dtsb-button {
	background: #fff;
}

button.dt-button:focus:not(.disabled), button.dt-button:focus:not(.disabled||.buttons-columnVisibility), div.dtsb-searchBuilder button.dtsb-button:focus:not(.disabled) {  /* buttons from dataTables libraries*/
	background: var(--light-color);
	text-shadow: none;
}


.bttn:hover, button.dt-button:hover:not(.disabled), div.dtsb-searchBuilder button.dtsb-button:hover { /* outline buttons on hover*/
	border: 2px solid var(--active-color);
	background-color: #fff;
	box-shadow: 2px 2px 6px 0px #431bb770;
}

button.dt-button:hover:not(.disabled), div.dtsb-searchBuilder button.dtsb-button:hover{
	background: #fff;
	background-color: #fff !important;
}

.bttn:active, button.dt-button:active:not(.disabled), button.dt-button:active:not(.disabled):hover:not(.disabled), div.dtsb-searchBuilder button.dtsb-button:active {
	box-shadow: none !important;
	background-color: var(--light-color);
	border-color: var(--dark-color);
}

button.dt-button:active:not(.disabled), button.dt-button:active:not(.disabled):hover:not(.disabled), div.dtsb-searchBuilder button.dtsb-button:active {
	background: var(--light-color) !important;
}


.bttn-color, .bttn-color:focus { /* color buttons*/
    background: var(--action-color);
    border-color: var(--action-color);
    color: #ffffff;
    box-shadow: 1px 1px 4px 0px #431bb7ad;
}

.bttn-color:hover { /* color buttons on hover*/
	color: #fff;
    background: var(--bttn-color-hover);
    border: 2px solid var(--bttn-color-hover);
    box-shadow: 2px 2px 6px 0px #431bb7ad;
}

.bttn-color:active{ /* color buttons on active state*/
	box-shadow: unset;
	background: var(--dark-color);

}

.bttn-square, .bttn-filter {
	width: 31px;
	height: 31px;
	min-width: 31px;
	padding: 0;
	background-repeat: no-repeat;
	background-position: center center;
}

.bttn-icon-add {
	background-image: url(../images/add-circle.svg);
}

.bttn-icon-save {
	background-image: url(../images/checkmark-circle.svg);
}

.bttn-icon-del {
	background-image: url(../images/close-circle.svg);
}

button:disabled, .bttn.disabled{
	pointer-events: none;
	opacity: 0.5;
}


.input-group .btn.dropdown-toggle {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}

.bttn-filter {
	height: 31px !important;
	padding: 0 !important;
	margin-left: 0 !important;
	max-width: 31px;
}




/* Page structure elements */

.data-block, .data-block > form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.border-block {
	border: 1px solid var(--bs-border-color);
	border-radius: 6px;
	padding: 10px;
	height: 100%;
}

.scroll-block-wrapper {
	height:auto;
	max-height: 70vh;
	overflow-y: scroll;
}

.scroll-block {
	overflow: hidden;
	padding-right: 10px;
	
}

.static-block {
	    background-color: var(--light-color);
	    border-radius: 6px;
	    padding:10px;
	    margin-bottom: 10px;
}

.data-row {
	display: flex;
	/*align-items: center;*/
	row-gap: 10px;
}

/*.data-row > .data-block {
	padding-left: 5px;
	padding-right: 5px;
}

.data-row > .data-block:first-child {
	padding-right: 5px;
}

.data-row > .data-block:last-child {
	padding-left: 5px;
}*/


.data-block > .data-row, .data-row:has(.data-item)  {
	flex-wrap: wrap;
}

.data-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: flex-end;
}

.stretch {
	flex-grow: 1;
}

.data-row > .data-item {
	justify-self: center;
}

.data-row:not(:has(*[class*=col-])) {
	column-gap: 30px;
}

.data-item-right {
	margin-left: auto;
}


.data-row:not(:has(.data-block)) {
	align-items: center;
}

.data-label {
	text-align: right;
    line-height: 20px;
    margin-bottom: 2px;
    margin-right: 15px;
}

.data-item .data-label {
	text-align: right;
    line-height: 20px;
    margin-bottom: 2px;
    margin-right: 15px;
}

.data-value > .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 100%;
}

.flex-20 {
	flex: 20% 1 1;
}

.tso-unom {
	min-width: 580px;
}

.tso-code {
	min-width: 120px;
}

.fix-80.data-label, .fix-80 .data-label {
	width: 80px;
}

.fix-110.data-label, .fix-110 .data-label {
	width: 110px;
}

.fix-180.data-label, .fix-180 .data-label {
	width: 180px;
}

.table-inp-stretch td:has(.input-cell) {
	position: relative;
	min-width: 80px;
	height: 33px;
}

.input-cell {
	position: absolute;
	left: 0;
	top:0;
	right: 0;
	bottom: 0;
	display: flex;
	align-items: center;
}

.table-inp-stretch .data-value {
	width: 100%;
}
 


/* Form elements */

input, textarea, .bootstrap-select .btn, .dtsb-data, .dtsb-value, .dtsb-condition {
	font-weight: 300;
	height: 31px;
	border-radius: 6px;
	border: 1px solid var(--bs-border-color);
	min-width: 80px;
	padding-left: 0.5rem;
}


.dtsb-data:focus, .dtsb-value:focus, .dtsb-condition:focus {
	border-color: var(--action-color);
	box-shadow: unset;
}

.filter-row input {
	height: 25px;
	font-size: 0.9rem;
	
	padding: 0.2rem 0.5rem;
	
	width: 100%;
}

input.data-value:focus, .filter-row>th>input:focus, .filter-row>th>input:focus-visible {
	border-color: var(--action-color);
	box-shadow: none;
	outline: none;
}

.form-check-input {
	height: 20px;
    width: 20px;
    min-width: 20px;
    border: 1px solid var(--bs-border-color);
    border-radius: 6px;
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--action-color);
    cursor: pointer;
}

.form-check-input:hover {
	background-color: var(--light-color);
}


.form-check-input[type=checkbox]:checked {
	background-color: #fff;
	background-image: url(../images/checkmark.svg);
	border-color: var(--bs-border-color);
}

.form-check-input[type=radio]:checked {
	background-color: #fff;
	background-image: url(../images/ellipse.svg);
	border-color: var(--bs-border-color);
	background-size: auto;
}

.form-check-input:active {
	filter: none;
}

.form-check-input:focus {
	border-color: var(--action-color);
	box-shadow: none;
}

.input-group .input-group-text {
	height: 31px;
	background: #fff;
	opacity: 0.5;
}

input[disabled], .form-check-input[disabled], .bootstrap-select > .btn.dropdown-toggle.disabled {
	opacity: .5;
	border-color: var(--active-color);
	background-color: transparent;
	cursor: default;
	pointer-events: none;
}

.bootstrap-select.disabled {
	cursor: default;
}


/* new bootstrap-select */

.bootstrap-select > .btn.dropdown-toggle {
	height: 31px;
	padding: 0.2rem 0.5rem 0.2rem 0.5rem;
	background: #fff;
	color: var(--text-color);
	border: 1px solid var(--bs-border-color); /* #ced4da;*/
}

.bootstrap-select > .btn.dropdown-toggle:after {
	content: url(../images/chevron-down-dark.svg)
}

.bootstrap-select > .btn.dropdown-toggle:active {
	border-color: var(--action-color);
}

.bootstrap-select > .btn.dropdown-toggle:focus {
	outline: 0 !important;
}

.bootstrap-select .dropdown-item.active, .bootstrap-select .dropdown-item:active {
	background-color: #9f7ff7;
}


/* marker */
.mark-color {
	color: var(--action-color);
	font-weight: 600;
}


/* ScrollBar */

/* for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) transparent;
}

/* for Chrome/Edge/Safari */
*::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: 5px;
}

/* Sidebar */

.main-container {
	margin:0;
	background: #fff;
	height: 100vh;
}


.sidebar {
background: rgb(24,28,31);
background: -moz-linear-gradient(90deg, rgba(24,28,31,1) 0%, rgba(31,36,40,1) 100%);
background: -webkit-linear-gradient(0deg, rgba(24,28,31,1) 0%, rgba(31,36,40,1) 100%);
background: linear-gradient(90deg, rgba(24,28,31,1) 0%, rgba(31,36,40,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#181c1f",endColorstr="#1f2428",GradientType=1);
width: 450px;
height: 100vh;
box-shadow: 3px 0px 6px #48484880;
padding:0;
padding-right: 35px;
padding-bottom: 40px;
transition: ease-in transform 250ms;
}

.sidebar-close, .sidebar-open {
	width: 35px;
	height: 100vh;
	background-color: #292e32;
}

.sidebar-close a, .sidebar-open a {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.sidebar-close {
	position: absolute;
	right: 0;
}

.sidebar-close svg {transform: rotate(90deg);}

.sidebar-open {
	box-shadow: 3px 0px 6px #48484880;
	position: fixed;
	z-index: 10;
}

.sidebar-open svg {transform: rotate(-90deg);}



/* User */
.user {
padding: 20px;
}

.user img {
	height: 28px;
}

.user-name {
    font-size: 14px;
    font-weight: 600;
    margin-left: 10px;
    align-self: center;
    vertical-align: middle;
    letter-spacing: 0.02em;
}

.user-name > span {
	/*display: block;*/
	font-size: 18px;
	font-weight: 600;
}



/* Parameters */
.sidebar-params {
	color: #ffffff80;
	margin: 0 20px;
    padding-top: 15px;
    border-bottom: 1px solid #ffffff40;
    border-top: 1px solid #ffffff40;
}


.sidebar-params .data-label {
	width: 90px;
	margin-bottom: 0px;
	line-height: 20px;
	text-align: left;
}

.sidebar-params .input-group {
	flex-wrap: nowrap;
	width: auto;
}

.bttn-add-city {
    box-shadow: 1px 1px 4px #ffffff80;
    border-color: #c6bae5;
    
}

.bttn-add-city:hover {
    box-shadow: 2px 2px 6px #ffffff80;
    border-color: var(--light-color);
}

.sidebar-params p {
	line-height: 20px;
    margin-bottom: 0.7rem;
}
.sidebar-params p > span {
	color: #fff;
}

.sidebar-params .data-item {
	justify-content: flex-start;
}




/* Menu */

.navbar {
	overflow-y: scroll;
}

.nav-link.btn-toggle:after, .dropdown-toggle:after {
	/*content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='currentColor' stroke='currentColor' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
	*/display: inline-block;
	float: right;
    width: 16px;
    height: 16px;
    transition: transform ease 300ms;
    content: url(../images/chevron-down.svg);
    vertical-align: middle;
    border: 0;
}


.btn-toggle[aria-expanded="true"]:after, .dropdown-toggle[aria-expanded="true"]:after {
	transform: rotate(180deg);
}

.subnav {
	background-color: rgba(74, 81, 86, 0.314);
    padding-left: 15px;
	transition: all ease 300ms 0s;
}

.navbar-nav .nav-item {
	border-left: 6px solid #ffffff00;
	width: 100%;
}

.navbar-nav .nav-link {
	color: #ffffffbb;
    margin-left: 14px;
    margin-right: 14px;
    border-bottom: 1px solid #ffffff40;
    font-weight: 600;
    letter-spacing: 0.02em;
}

.navbar-nav .nav-link:focus{
	color: #ffffffbb;
}

.navbar-nav .nav-link:hover {
	color: #fff;

}

.navbar-nav {
	width: 100%;
	margin-top: 20px;
	align-items: start;
}

.navbar-nav .nav-item:has(.nav-link.active) {
border-left: 6px solid var(--action-color);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link{
	color: var(--active-color);
}



.workspace {
	padding: 20px 1%;
		/*background: #fff url(../images/Carnot.jpg);
	background-size: cover;
	opacity: 0.2;*/
	padding-left: 65px;
	width: 100%;
	height: 100%;
	
}

.breadcrumb {
	font-size: 14px;
	margin-bottom: 0;
}

.breadcrumb-item {
	color: var(--text-color);
	font-weight: 600;
}

.title {
	border-top: 1px solid var(--bs-border-color);
}

/* Tabs */
.nav-tabs {
	border-bottom-color: var(--action-color);
}

.nav-tabs .nav-link {
	font-weight: 600;
	color: #252525aa;
	border-color: #00000020;
	border-bottom-color: var(--action-color);
}

.nav-tabs .nav-link:hover {
	color: var(--text-color);
	border-color: #00000060;
	border-bottom-color: var(--active-color);
}


.nav-tabs .nav-link.active {
	color: var(--action-color);
	border-color: var(--action-color);
	border-bottom-color: #fff;
}

.tab-content {
	padding-top: 15px;
}

/* Table parameters */

.param-calc-year {
	width: 180px;
}

div.dt-buttons {
	display: flex;
}

.note {
	display: flex;
	align-items: center;
	padding: 0.2rem 0.5rem;
    padding-left: 2.25rem;
    border: 1px solid #22bd3c;
    border-radius: 6px;
    background-image: url(../images/alert-circle.svg);
    background-repeat: no-repeat;
    background-position: 0.5rem center;
    font-weight: 400;
    height: 31px;
}




.data-unit {
	opacity: 0.6;
	margin-left: 5px;
	font-weight: 300;
}

.info {
	width: 20px;
	height: 20px;
	background-image: url(../images/info-circle.svg);
	background-repeat: no-repeat;
	background-position: center center;
	display: inline-block;
	margin-bottom: -0.3rem;
}

.info-tooltip {
	--bs-tooltip-bg: var(--active-color);

}



.table-block:has(.table-buttons) {
	position: relative;
	padding-right: 34px;
}
.table-buttons {
	position: absolute;
	right: 0;
	z-index: 10;
}

.table-buttons > .dt-buttons {
	flex-direction: column;
}
.table-buttons .dt-button-collection:not(.dtb-collection-closeable) {
	margin-left: -100px;
}

.table-clicked > tbody > tr {
	cursor: pointer;
} 



/*.dt-buttons {margin-bottom: 5px;}*/

/* ColVis into checkboxes*/

.dt-button.buttons-colvis {
	padding: 0px;
	height: 31px;
}

.buttons-colvis.dt-button span.dt-down-arrow {
	display: none;
}

div.dt-button-collection {
	border-radius: 6px;
	width: unset;
}

div.dt-button-collection button.dt-button.buttons-columnVisibility:not(.disabled) {
	border: none;
    background: none;
    box-shadow: none;
    text-align: left;
    display: flex;
    padding: 10px;
    align-items: center;
    color: var(--text-color);
    font-weight: 300;
}

div.dt-button-collection button.dt-button.buttons-columnVisibility.active:not(.disabled){
	border: 1px;
    background: none;
    box-shadow: none;
    text-align: left;
    padding: 10px;
}

div.dt-button-collection button.dt-button.buttons-columnVisibility:not(.disabled):before {
	content: "";
    height: 25px;
    width: 25px;
    display: inline-block;
    border: 1px solid var(--bs-border-color); /* #ced4da;*/
    border-radius: 6px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.dt-button-collection button.dt-button.buttons-columnVisibility.active:not(.disabled):before {
	background-image: url(../images/checkmark.svg);
    height: 25px;
    width: 25px;
    color: var(--action-color);
    display: inline-block;
    border: 1px solid var(--bs-border-color); /* #ced4da;*/
    border-radius: 6px;
    margin-right: 8px;
    text-align: center;
}

div.dt-button-collection button.dt-button.buttons-columnVisibility:not(.disabled):hover, div.dt-button-collection button.dt-button.buttons-columnVisibility.active:not(.disabled):hover, div.dt-button-collection button.dt-button.buttons-columnVisibility.active:focus:not(.disabled)  {
	background-color: #e9ecef !important;
	background-image: none !important;
	background: #e9ecef;

}

div.dt-button-collection button.dt-button.buttons-columnVisibility.active:not(.disabled):hover:before, div.dt-button-collection button.dt-button.buttons-columnVisibility:not(.disabled):hover:before{
	background-color: var(--light-color) !important;
}



/* Search Builder*/

.filter-num {
	position: absolute;
    font-size: 10px;
    width: 15px;
    height: 15px;
    border-radius: 6px 0 6px 0;
    background-color: var(--action-color);
    color: #fff;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -3px;
    right: -2px;
    opacity: 0.8;
}

.dtsb-title {
	color: var(--action-color);
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 20px;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-dropDown, div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-input {
	border-radius: 6px;
    padding: 0.2rem 2.25rem 0.2rem 0.5rem;
    background-color: #fff;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-dropDown:focus, div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria input.dtsb-input:focus {
	border-color: var(--action-color);
	box-shadow: unset;
}

div.dtsb-searchBuilder div.dtsb-group div.dtsb-criteria select.dtsb-dropDown {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.dtsb-data, .dtsb-value, .dtsb-condition {
	padding: 0.2rem 2.25rem 0.2rem 0.5rem;
}

div.dtb-popover-close {
	background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    color: #fff;
    border: 0px;
    opacity: .5;
}

div.dtb-popover-close:hover {
	opacity: 1;
}

/* Table */


th, td {
	border: 1px solid rgba(0, 0, 0, 0.15);
}


thead {
	background-color: var(--light-color);
}

thead>tr>th, table.dataTable thead th {
	text-align: center;
}

td {
	font-weight: 300;
}

table.dataTable thead > tr > th.sorting_asc:before, table.dataTable thead > tr > th.sorting_desc:after {
	opacity: 0.8;
    color: #5f2fe7;
}

table {
	border-collapse: collapse;
}

table.dataTable.display tbody td {
	transition: box-shadow ease-in 300ms;
}

table.dataTable thead > tr > th.sorting:after, table.dataTable thead > tr > th.sorting:before {
	padding:1px;
	right: 4px;
}

table.dataTable.display tbody > tr.selected > *, table.dataTable.display > tbody > tr.odd.selected > *, table.dataTable.display > tbody > tr.odd.selected > .sorting_1, table.dataTable.hover > tbody > tr.selected:hover > *, table.dataTable.display > tbody > tr.selected:hover > *, table.dataTable.display > tbody > tr.even.selected > .sorting_1  {
	box-shadow: inset 0 0 0 9999px var(--active-color);
}

table.dataTable thead tr>.dtfc-fixed-left {
	background-color: #e0d8f3;
	
}

td.dtfc-fixed-left{
	font-weight: 600;
}



/* Table summary */
.table-summary {

	align-items: baseline;
	font-size: 0.9rem;
}

.table-summary .data-item {
	font-size: 0.9rem;
}

.rows-count, h4 {
	align-self: start;
}

.table-summary .data-table-block {
	border-spacing: 0.3rem 0;
    margin: 0 -0.3rem;
}

.data-table-block {
	display: table;
	border-spacing: 1rem 0.6rem;
    margin:-0.6rem -1rem;
    width: fit-content;
    align-self: start;
}

.data-table-block > .data-item, .data-table-block > .data-row {
	display: table-row;
	text-align: end;
}

.data-table-block .data-unit, .data-table-block .mark-color, .data-table-block .data-value, .data-table-block .data-label {
	display: table-cell;
}

.data-table-block input {width: 100%;}

.data-unit {
	text-align: start;
}








/*.table-summary .data-unit {
	width: 100px;

}*/


/* page 2-2-1-2 = data load page */

.load-status {
	
    padding: 0.5rem 2rem;
    border: 1px solid;
    border-radius: 6px;
    text-transform: uppercase;
    cursor: default;
    margin-right: auto;
    background: var(--load-status-bgc);
    border-color: var(--load-status-bc);
    color: var(--load-status-fc);
    transition: all ease-in 300ms;
}

.load-status.wait {

	--load-status-bgc: #f1f1f1;
    --load-status-bc: #cfcfcf;
    --load-status-fc: #727272;
}

.load-status.process {
	--load-status-bgc: #d9cff3;
    --load-status-bc: #ac95ed;
    --load-status-fc: #957ae1;
}

.load-status.success {
	--load-status-bgc: #d6f3cf;
    --load-status-bc: #84ef97;
    --load-status-fc: #22bd3c;
}

.load-status.fault {
	--load-status-bgc: #fde6ef;
    --load-status-bc: #edb4cb;
    --load-status-fc: #bd225b;
}


/* data edit modal window */

.modal-dialog {
	max-width: fit-content;
}

.wide-modal .modal-dialog {
	max-width: 95%;
	width: 95%;
}

.modal-header {
	padding: 0.5rem 1rem;
}

/*.form-data-edit label{
	width: 260px;
	text-align: right;
}*/


.form-data-edit .input-group {
	flex-wrap: nowrap;
	width: auto;
	flex-grow: 1;
	flex-shrink: 1;
}


.form-data-edit .data-value {
	width: auto;
	flex-grow: 1;
    flex-shrink: 1;
}

.sublable {
	font-weight: 300;
}

.modal-2 {
	z-index: 1105;
	background: rgba(0,0,0,0.4);
}


/* Accordion */

.accordion-body {
	--bs-accordion-body-padding-x: 0;
}

.accordion-button {
	color: var(--action-color);
	font-weight: 600;
	background-color: #fff;
	box-shadow: none;
	border-width: 0px;
	padding: 0.5rem 0.3rem;
}
.accordion-button:after {
	background-image: url(../images/chevron-down-dark.svg);
	background-size: auto;
	background-position: center;
	transition: ease 200ms;
}

.accordion-button:not(.collapsed) {
	background-color: #fff;
	color: var(--action-color);
	border-bottom: 1px solid var(--bs-border-color);
	padding-bottom: 1.15rem;
	box-shadow: none;
}

.accordion-button:not(.collapsed):after {
	background-image: url(../images/chevron-down-dark.svg);
	transform: rotate(180deg);
}

.accordion-button:hover {
	color: var(--active-color);
}

.accordion-button:focus, .accordion-button:active, .accordion-button:visited {
	box-shadow: none;
	border-color: var(--bs-border-color);
}